.duration, .dropdown > span:after, .dropdown .sub-menu, .set > a {
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

.space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.space-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown {
  position: relative;
}
.dropdown > span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.dropdown > span:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  margin-left: 10px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.dropdown .sub-menu {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  background-color: #4f93ac;
  width: 100%;
  text-align: center;
  padding: 0 10px 15px;
}
.dropdown .sub-menu li:not(:last-of-type) {
  margin-bottom: 15px;
}
.dropdown .sub-menu a {
  color: #fff;
}
.dropdown:hover > span:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.dropdown:hover .sub-menu {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.phone, .email {
  display: inline-block;
  vertical-align: middle;
}
.phone:before, .email:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.phone:before {
  background: url("../img/phone.png") 0 0 no-repeat;
  height: 27px;
  width: 26px;
}

.email:before {
  background: url("../img/email.png") 0 0 no-repeat;
  height: 28px;
  width: 26px;
}

@font-face {
  font-family: 'DINPro-Medium';
  src: url("../fonts/DINPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro-Medium.otf") format("opentype"), url("../fonts/DINPro-Medium.woff") format("woff"), url("../fonts/DINPro-Medium.ttf") format("truetype"), url("../fonts/DINPro-Medium.svg#DINPro-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Souvenir Bold';
  src: url("../fonts/Souvenir Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #fff;
  font-family: Corbel;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background-color: #4f93ac;
  padding: 40px 0;
}
footer ul {
  list-style: none;
}
footer a {
  color: #fff;
}
footer .left {
  font-size: 16px;
}
footer .left .title {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-family: "DINPro-Medium";
  margin-bottom: 30px;
  display: inline-block;
}
footer .left li {
  margin-bottom: 10px;
}
footer .left li a {
  font-style: italic;
  text-decoration: underline;
}
footer .right {
  text-align: right;
}
footer .right li {
  margin-bottom: 10px;
}
footer .footer__logo {
  margin-bottom: 35px;
}
footer .footer__logo img {
  display: block;
}
footer .socials li svg {
  fill: #fff;
  height: 20px;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  overflow: hidden;
}

.container {
  padding: 0 30px;
}

header {
  background-color: #fff;
  border-bottom: 1px solid rgba(84, 17, 41, 0.12);
  font-size: 14px;
}
header ul {
  list-style: none;
}

.header__top {
  background-color: #4f93ac;
  color: #fff;
}
.header__top .lang {
  text-transform: uppercase;
  padding: 15px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.header__top .login {
  font-size: 0;
}
.header__top .login a {
  display: inline-block;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 14px;
  padding: 15px 25px;
}
.header__top .login a:first-of-type {
  border-right: none;
}

.header__middle {
  padding: 40px 0;
}
.header__middle .logo a, .header__middle .logo img {
  display: block;
  height: 100%;
  width: 100%;
}
.header__middle .header__info-block {
  width: 80%;
  white-space: nowrap;
}
.header__middle .header__contacts a {
  color: #4f93ac;
  display: inline-block;
  font-family: 'DINPro-Medium';
  font-size: 16px;
  margin-right: 25px;
}
.header__middle .header__contacts a:last-of-type {
  font-family: Corbel Medium;
  font-weight: 700;
  margin-right: 0;
}

.search {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 30px;
}
.search input[type=search] {
  border: 1px solid #4f93ac;
  border-radius: 5px;
  color: #222222;
  padding: 10px 32% 10px 40px;
  width: 100%;
}
.search input[type=submit] {
  position: absolute;
  right: 2px;
  top: 2px;
  bottom: 2px;
  border: none;
  z-index: 2;
  cursor: pointer;
  background-color: #9f3b5e;
  border-radius: 5px;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}
.search label {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10px;
  height: 20px;
  width: 20px;
}
.search label svg {
  fill: #9f3b5e;
  height: 100%;
  width: 100%;
}

.header__checkout {
  font-weight: bold;
  padding-right: 10px;
  position: relative;
  font-size: 16px;
  white-space: nowrap;
}
.header__checkout a {
  color: #9f3b5e;
}
.header__checkout a > * {
  display: inline-block;
  vertical-align: middle;
}
.header__checkout a > span {
  color: #541129;
  margin-right: 10px;
}
.header__checkout .sum {
  border-radius: 50%;
  border: 1px solid #9f3b5e;
  position: absolute;
  top: -10px;
  right: 0;
  background-color: #fff;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 12px;
}

.header__bottom {
  padding-bottom: 30px;
}
.header__bottom nav li {
  border-left: 1px solid rgba(84, 17, 41, 0.12);
}
.header__bottom nav li:last-of-type {
  border-right: 1px solid rgba(84, 17, 41, 0.12);
}
.header__bottom nav li a {
  color: #541129;
  font-weight: 600;
  padding: 5px 40px;
}

.socials li:not(:first-of-type) {
  margin-left: 30px;
}
.socials li svg {
  fill: #9f3b5e;
  height: 15px;
  width: auto;
}

.set {
  border-bottom: 1px solid #488196;
  border-left: 1px solid #488196;
  width: 100%;
}

.set:first-of-type {
  border-top: 1px solid #488196;
}
.set > a {
  position: relative;
  background-color: #4f93ac;
  font-family: "DINPro-Medium";
  color: #fff;
  cursor: pointer;
  padding: 10px 40% 10px 30px;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  border-right: 1px solid #488196;
}
.set > a.active, .set > a:hover {
  background-color: #fff;
  color: #4f93ac;
}

.set > a span {
  color: #fff;
  display: block;
  text-transform: uppercase;
}

.set > a i {
  display: block;
  position: absolute;
  right: 30px;
  height: 25px;
  width: 20px;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

.set .accordion-content {
  display: none;
  padding: 10px 20px 10px 30px;
  border-right: 1px solid #488196;
  background-color: #fff;
}
.set .accordion-content ul {
  list-style: none;
  margin-left: 20px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
main aside {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 380px;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#4f93ac), color-stop(37%, #4f93ac), color-stop(68%, #4f93ac), color-stop(76%, #7baec1), color-stop(88%, rgba(189, 215, 224, 0.76)), to(white));
  background: linear-gradient(to bottom, #4f93ac 0%, #4f93ac 37%, #4f93ac 68%, #7baec1 76%, rgba(189, 215, 224, 0.76) 88%, white 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f93ac', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
}
main .main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.aside__header {
  background-color: #fff;
  font-style: italic;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.breadcrumbs {
  background-color: #efefef;
  padding: 20px 30px;
}
.breadcrumbs span {
  display: inline-block;
  vertical-align: bottom;
  font-style: italic;
}
.breadcrumbs span:not(:last-of-type):after {
  content: '/';
  margin: 0 5px;
  display: inline-block;
  vertical-align: bottom;
}
.breadcrumbs span a {
  display: inline-block;
  vertical-align: middle;
}

.uppercase {
  text-transform: uppercase;
}

.title-big__text {
  color: #2b7d9b;
  font-family: 'Souvenir Bold';
  font-weight: 900;
}

.title-italic {
  font-style: italic;
}

.content {
  font-family: "DINPro-Medium";
  padding: 0 200px 200px;
}
.content .title-big {
  text-align: center;
  position: relative;
  margin-bottom: 45px;
}
.content .title-big:not(:first-of-type) {
  margin-top: 65px;
}
.content .title-big .title-big__text {
  font-size: 36px;
  background-color: #fff;
  display: inline-block;
  z-index: 1;
  position: relative;
  padding: 0 20px;
}
.content .title-big .title-big__line {
  position: absolute;
  top: 50%;
  left: 50px;
  right: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 1px;
  background-color: #2b7d9b;
}
.content p {
  text-indent: 20px;
  font-size: 16px;
  line-height: 24px;
}
.content ol, .content ul {
  margin: 50px 0 50px 30px;
}
.content ol li, .content ul li {
  margin-bottom: 30px;
}

.center {
  text-align: center;
}

.subscribe {
  padding: 0 180px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.subscribe > * {
  width: 50%;
}
.subscribe .title-big__text {
  font-size: 30px;
}
.subscribe .title-italic {
  color: #134354;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 50px;
}

.subscribe__email {
  position: relative;
}
.subscribe__email input[type=email] {
  width: 100%;
  padding: 15px 32% 15px 20px;
  background-color: #eaeaea;
  border: none;
  border-radius: 5px;
}
.subscribe__email input[type=submit] {
  background-color: #9f3b5e;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 5px 5px 0;
  height: 100%;
  width: 30%;
  border: none;
  font-size: 12px;
}

/*# sourceMappingURL=styles.css.map */